body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    
}
header{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;

}
ul li{
    display: inline;
    margin-right: 15px;
}
ul li a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}
#product{
    display: flex;
    justify-content: space-around;
}
.product{
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    text-align: center;
}
.product p{
    color: black;
    font-weight: bold;
}
button{
    background-color: black;
    color: white;
    border: none;
    padding: 5px;
}
button:hover{
    background-color: aqua;
    color: black;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    margin-bottom: 0;
    padding: 5px;
    
}
